<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DbProviderFactories>
    <add name="SQLite Data Provider" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
  </DbProviderFactories>
  <connectionStrings>
    <add name="StreamerGameContext" connectionString="data source=StreamerGame.sqlite;initial catalog=Game;App=EntityFramework;" providerName="System.Data.SQLite.EF6"/>
  </connectionStrings>
<contexts>
    <context type="StreamerGameContext, StreamerGame">
      <databaseInitializer type="DbInitTest, StreamerGame" />
    </context>
  </contexts>
</configuration>